/*-- scss:defaults --*/
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Oswald:wght@300;400;500&display=swap';

#quarto-content {
  background-color: none;/*#f0eeeb;*/
  font-family: 'Montserrat', sans-serif !important;
  font-family: 'Oswald', sans-serif;
  color: black;
}

/* css styles */

// slide iframes

.slides {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  border-style: solid;
  border-width: 1px;
}